html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #4e4e94;
    color: white;
}

.content{
    flex: 1 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
}

.info, .info-background, .vieil{
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
}

.vieil{
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 5;
    pointer-events: none;
}

.info{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    position: relative;
    font-size: 2.5em;
    color: #fff;
}

.info #title{
    font-family: 'Caveat', cursive;
    color: yellow;
}

.info h6{
    margin: 0; 
    padding-top: 3%; 
    padding-bottom: 4%;
}

.info-background{
    background-image: url(img/chess1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.startBtn{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: large;
    border: 1px solid white;
    margin-top: 4%;
    padding: 10px 50px;
    pointer-events: all;
}

.startBtn:hover{
    background-color:rgba(0, 0, 0, 1)
}

@media screen and (max-width: 600px) {
    .info #title{
        font-size: 1.5em
    }
    .info h6{
        margin-top: 5%;
    }
    .info-background{
        pointer-events: none;
    }
    .startBtn{
        margin-top: 10%;
    }
}

/*min-width: 269 from testing*/
@media screen and (max-width: 400px) {
    .info #title{
        font-size: 1em
    }
}

.dark{
    background-color: #313178;
    width: 100%;
    padding: 20px;
}

.about{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img{
    float: right;
    border-radius: 35px;
    padding: 0 10px;
    transform: scale(1);
    transition: transform .5s;
}

.lighter p{
    padding: 0 20px;
}

.lighter h1{
    color: #313178;
    font-size: 285%;
    line-height: 10px;
}

.text{
    padding-left: 5%;
    padding-right: 2%;
}

.dark h1{
    font-size: 300%;
    line-height: 10px;
    color: #4e4e94;
}

.about img{
    margin-right: 5%;
}

.about img:hover {
    transform: scale(1.1);
}

.center{
    text-align: center;
}

.row{
    padding: 0% 5% 0% 5%;
    display: flex;
}

.row p{
    width: 50%;
}

/*resources*/
.resources{
    display: flex;
    padding-right: 3%;
}

.resources figure{
    text-align: center;
    display: grid;
    place-items: center;
    flex: 16.66%;
    padding: 5px;
    transform: scale(1);
    background: #2c2c6c;
    border-radius: 10px;
}

.events{
    display: flex;
}

.events figure{
    line-height: 0;
    text-align: center;
    display: grid;
    place-items: center;
    flex: 50%;
    padding: 5px;
    background: #2c2c6c;
    border-radius: 10px;
}

.events figure img{
    padding: 2%;
    border-radius: 10%;
    width: 95%;
}

.resources figure img{
    padding: 5px 5px 0px 5px;
}

.resources figure:hover{
    transform: scale(1.1);
    background: #25255c;
}

.resources figure a{
    color: white;
    text-decoration: none;
}

/*footer*/
footer{
    flex-shrink: 0;
    color: rgb(147, 161, 176);
    background-color: #333333;
    text-align: center;
    justify-content: center;
    font-size: large;
    line-height: 25px;
}

.links{
    padding-top: 2%;
    font-size: 25px;
}

/*media screens*/
@media screen and (max-width: 600px) {
    .links{
        padding-top: 5%;
    }
}

.links a{
    color: rgb(147, 161, 176);
    padding: 5px;
}

.links a:hover{
    color: darkslategrey;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background: #555;
}

  